.cartContainer {
  display: flex;
  width: 100%;
  padding: 1rem;
  justify-content: space-between;
  flex-grow: 1;
}
.cartLeftPart {
  width: 70%;
  padding: 1rem;
  background-color: white;
}
.cartItem {
  display: flex;
  margin: 1.5rem 1rem;
  color: black;
  gap: 1rem;
  align-items: flex-start;
  height: 200px;
}
.cartItemImg {
  width: 150px;
  height: 100%;
}
.cartItemImg img {
  display: block;
  width: 100%;
  height: 100%;
}
.cartItemDetailsContainer {
  flex: 1;
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.cartItemDetailsBottomRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.cartItemDetailsContainer > div:nth-of-type(2) {
  display: flex;
  margin-left: auto;
  align-items: flex-start;
  height: max-content;
}
.MuiTypography-body2.priceInteger {
  font-size: 25px;
}
.MuiTypography-body2.priceFraction {
  font-size: 13px;
  margin-inline: 0.1rem;
  padding-top: 5px;
}
.itemCardLinks {
  display: flex;
}
.cartRightPart {
  background-color: white;
  width: 25%;
  height: 200px;
  padding: 1rem;
  position: sticky;
  top: 4rem;
}
@media (max-width: 1000px) {
  .cartContainer {
    flex-direction: column;
    gap: 1rem;
  }
  .cartLeftPart,
  .cartRightPart {
    width: 80%;
    margin: auto;
  }
  .cartRightPart {
    width: 350px;
  }
}
@media (max-width: 750px) {
  .cartLeftPart {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .cartItem {
    flex-direction: column;
    height: max-content;
    width: 100%;
    margin: 0 auto;
    gap: 1rem;
    padding-block: 1rem;
  }
  .cartItemDetailsContainer {
    width: 100%;
    gap: 1rem;
    padding: 0;
  }
  .cartItemImg {
    margin-inline: auto;
    height: 200px;
  }
}
@media (max-width: 440px) {
  .cartItemImg {
    width: 220px;
  }
  .cartItemDetailsBottomRow {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }
  .cartRightPart {
    width: 100%;
  }
}
