@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap");
.homePage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(0, 0, 0);
  flex-grow: 1;
}
.homePageImage {
  width: 300px;
  height: 300px;
  margin-top: .5rem;
  border-radius: 10px;
}
.homePageDiv {
  padding-left: 20px;
  text-align: start;
}
.homePageDiv h2 {
  text-shadow: 1px 2px 4px rgb(220, 178, 40);
  line-height: 3rem;
  font-size: 3rem;
  margin-block: 1rem;
}
.homePageDiv h3 {
  font-family: "Petit Formal Script", cursive;
  font-size: 2rem;
}
.restaurantName {
  font-weight: 300;
}
.homePageLink button {
  background-color: rgb(78, 76, 76);
  color: rgb(251, 246, 246);
  margin-top: 20px;
  padding: 5px 30px;
  border-radius: 20px;
  border: none;
  font-weight: 600;
}
.homePageLink button:hover {
  background-color: rgb(220, 178, 40);
  color: rgb(78, 76, 76);
}

@media only screen and (max-width: 640px) {
  .homePage {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-inline: auto;
  }
  .homePageImage {
    width: 250px;
    height: 250px;
    margin-block: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
}
