* {
  box-sizing: border-box;
}
.profile {
  width: 600px;
  margin: 10px auto;
  background-color: white;
  border-radius: 10px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  flex-grow: 1;
}
.profile .proData {
  margin: 1.5rem auto;
}
.updatePhotoContainer {
  width: 100%;
  background-size: 100% 40%;
  background-repeat: no-repeat;
  background-image: url("../../Images/300by200profile.jpg");
  border-radius: 10px 10px 0 0;
  padding-block: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.profilePhoto {
  border-radius: 50%;
  border: 7px solid rgba(255, 255, 255, 1);
  width: 8rem;
  height: 8rem;
}

@media only screen and (max-width: 700px) {
  .profile {
    width: 80%;
  }
  .profilePhoto {
    width: 8rem;
    height: 8rem;
  }
}
@media only screen and (max-width: 440px) {
  .profile {
    width: 90%;
  }
  .profile .proData {
    width: 95%;
  }
  .profilePhoto {
    width: 5rem;
    height: 5rem;
  }
}
