* {
  box-sizing: border-box;
}
.profile {
  width: 600px;
  margin: 10px auto;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, 
  rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.profile .proData {
  width: 80%;
  margin: 20px auto;
}
.updatePhoto {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
}
.updatePhoto img {
  border-radius: 50%;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.16);
}
.profilePhoto {
  width: 10rem;
  height: 10rem;
  /* margin: left; */
}
.profileName {
  display: flex;
  flex-direction: column;
  margin: "auto ";
}
/* .proData button, .profileName button{
  background-color: aqua;
} */

@media only screen and (max-width: 700px) {
  .profile {
    width: 80%;
  }
  .updatePhoto {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .profilePhoto {
    width: 8rem;
    height: 8rem;
    margin: auto;
  }
}
@media only screen and (max-width: 440px) {
  .profile{
    width: 90%;
  }
  .profile .proData{
    width: 90%;
  }
  .updatePhoto {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: fit-content;
  }
  .profilePhoto {
    width: 5rem;
    height: 5rem;
    margin: auto;
  }
}
