* {
  box-sizing: border-box;
}
.profile {
  width: 600px;
  margin: 10px auto;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  flex-grow: 1;
}
.profile .proData {
  width: 90%;
  margin: 1.5rem auto;
}
.updatePhotoContainer {
  width: 100%;
  background: linear-gradient(to bottom,
  rgba(131, 131, 131, 0.3),
  rgba(250, 250, 250, 0.2)), url("../../Images/profile.png"); 
  border-radius: 10px 10px 0 0;
  padding-block: 10px;
}
.profilePicGroup {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 15px;
  padding-bottom: 10px;
}
.profilePhoto {
  border-radius: 50%;
  margin: 1rem auto;
  border: 1px solid rgba(180, 180, 180, 1);
  width: 8rem;
  height: 8rem;
}
.profileName {
  display: flex;
  flex-direction: column;
  margin: "auto ";
}

@media only screen and (max-width: 700px) {
  .profile {
    width: 80%;
  }
  .updatePhotoContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .profilePhoto {
    width: 8rem;
    height: 8rem;
    margin: .5rem auto;
  }
}
@media only screen and (max-width: 440px) {
  .profile {
    width: 90%;
  }
  .profile .proData {
    width: 95%;
  }
  .profilePicGroup {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: fit-content;
  }
  .profilePhoto {
    width: 5rem;
    height: 5rem;
    margin: .5rem auto;
  }
}
