
.notFoundPage{
    display: flex;
    flex-direction: row;
    /* width: 95vw; */
    margin: auto;
    align-items: center;
    justify-content: space-around;
    
    padding:30px 23px ;
   /* height: auto; */
   
    
    
}
.notFoundImage{
    height:38vh;
    margin-bottom: 10px;
    border-radius:3em;
    
}
.notFoundDiv{
    padding: 20px 0 20px 20px;
    color: rgb(136, 71, 71);
   text-shadow: 4px 4px 4px  rgb(220, 178, 40)
}
.notFoundLink button{
    background-color:rgb(78, 76, 76);
    color:  rgb(251, 246, 246);
    padding:5px 30px;
    border-radius: 20px;
    border: none;
    font-weight:600 ;
}
.notFoundLink button:hover{
    background-color:  rgb(220, 178, 40);
    color: rgb(78, 76, 76);
    border: none;
}

@media only screen and (max-width:640px){
    .notFoundPage{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding:10px 10px ;

        
    }
    .notFoundImage{
        width: 85vw;
        height: auto;
        
    }
    
}