.SingleCard {
  padding: 0 5%;
  margin: 20px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  color: black;
  /* margin: center; */
  height: 80%;
  width: 50%; 
  border-radius: 2rem;
  border: 1px solid grey;
  overflow: hidden;
  flex-grow: 1;
}
.removeButton,
.addButton,
.backButtonLink {
  padding: 0.1rem 0rem;
  border-radius: 20px;
  font-size: small;
  font-weight: bold;
  cursor: pointer;
  /* border: none; */
  border: 2px solid rgb(63, 63, 63);
  width: 150px;
  margin: 5px;
  background-color: rgb(63, 63, 63);
  color: white;
  text-decoration: none;
}

.backButtonLink:hover,
.addButton:hover {
  background-color: rgb(220, 178, 40);
  border: 2px solid rgb(220, 178, 40);
}
.removeButton:hover {
  background-color: white;
  color: #e94c3d;
  border: 2px solid #e94c3d;
}

/* .oneMealCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  justify-content: space-around; 

} */

.pro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  /* padding-right: 80px; */
}

.mealImage {
  height: 50vh;
  width: auto;
  /* object-fit: cover; */
  /* padding-left: 5%; */
  padding-bottom: 30px;
  margin-top: auto;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.description {
  margin: 10px 10px;
}
.price {
  padding: 0rem 1.2rem;
  /* width: 300px; */
}

.oldPrice {
  padding-right: 10px;
  text-decoration-line: line-through;
}
.noDetails {
  margin: auto;
  padding-top: 5%;
  padding-bottom: 10%;
}

@media only screen and (max-width: 880px) {
  .oneMealCard,
  .pro {
    display: flex;
    flex-direction: column;
  }
  .mealImage {
    height: auto;
    width: 80vw;
    padding: 0 10px 10px 10px;
  }
}

@media only screen and (max-width: 640px) {
  .description {
    font-size: medium;
  }
  .SingleCard {
    width: 70%;
  }

  .mealImage {
    height: auto;
    width: 70vw;
    padding: 0 10px 10px 10px;
  }
}
