.welcome{
  align-items: center;
  text-align: center;

}
.home {
    overflow: hidden;
    margin-bottom: 0;

  }
  .slideContainer {
    display: flex;
  }

  .slideImage {
    display: flex;
    flex: 0 0 100% ;
    width: 100vw;
    height: 40vh;
    justify-content: center;

    background-color: black;
  }

 

  .slideImage img{
    /* flex: 0 0 100%; */
    /* margin:10px auto auto auto; */
    /* width: 40vw; */
    /* height: auto; */
    /* border-radius: 10px; */
  }
  
  
@media only screen and (max-width:432.95px){
  .slideImage img{
    width: 100vw;
    height: auto;
  }
  .slideImage {
    height: auto;
  }
  }