.updatePhoto{
  display: flex;
  flex-Direction: row;
  margin:auto,
}
.profilePhoto{
   width: 10em;
    height: 10em;
    margin: left;
}
.profileName{
  display: flex;
  flex-Direction: column;
  margin:"auto ";
  /* margin-left:"20vw" */
  
}


@media only screen and (max-width:430px){
  
.updatePhoto{
 
  display: flex;
  flex-Direction: column;
  text-align: center;
}
.profilePhoto{
  width: 40vw;
    height: auto;
    margin: auto;
}
}
