.navBar {
  background-color: rgb(239, 108, 0);
  position: fixed;
  top: 0;
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background-image: url("../../Images/footer.png");
  background-repeat: repeat-x;
  background-size: 60vh;
  background-position-y: 10px;
  z-index: 5;
}

.menu-List {
  margin: 0;
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
}

.navLink,
.navLinkLogo {
  margin: auto 10px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  color: rgb(251, 246, 246);
  display: block;
}
.darkBtn {
  border: none;
  color: rgb(251, 246, 246);
  font-size: 20px;
}
.navLinkLogo img {
  height: 50px;
  width: 100px;
}

.navLink:hover,
.nav-btn:hover,
#cartLogo:hover,
.darkBtn:hover {
  color: rgb(78, 76, 76);
}

.nav-btn {
  position: absolute;
  top: 1.2rem;
  right: 0rem;
  background-color: transparent;
  border: none;
  color: rgb(251, 246, 246);
  cursor: pointer;
  display: none;
  width: 30px;
}

@media only screen and (max-width: 640px) {
  .nav-btn {
    /* 3bars icon */
    display: flex;
  }
  .bar {
    display: none;
    width: 100%;
  }
  .navBar {
    display: flex;
    flex-direction: column;
  }
  .mobileMenuInit {
    display: none;
  }
  .mobileMenuOut {
    position: absolute;
    top:-100vh;
    right: 0;
    animation-duration: 0.5s;
    animation-name: slideout;
  }
  @keyframes slideout {
    from {
      top: 7vh;
    }
    20% {
      top: 10vh;
    }
    to{
      top: -100vh;
    }
  }
  .mobileMenuIn {
    position: absolute;
    top: 7vh;
    right: 0;
    animation-duration: 0.5s;
    animation-name: slidein;
  }
  @keyframes slidein {
    from {
      top: -100vh;
    }
    60% {
      top: 10vh;
    }
    to {
      top: 7vh;
    }
  }

  .menu-List {
    flex: none;
    padding: 2rem;
    gap: 1.5rem;
    flex-direction: column;
    text-align: center;
    width: 60vw;
    background-color: rgba(255, 255, 255);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    z-index: 50;
  }

  .menu-List li a,
  .menu-List * {
    margin: 0px;
    line-height: 1.8rem;
    border-radius: 20px;
    font-weight: 300;
    color: black;
  }
  .menu-List li:hover,
  .darkBtn:hover {
    background-color: rgb(239, 108, 0);
  }
}
