.body{
   

}
footer{
    /* color:  rgb(8, 8, 8);
    display: flex;
    flex-direction: column; */
    font-weight:bold ;
    background-image: url("../../Images/footer.png");
    background-repeat:repeat-x ;
    background-size: 90vh;
    background-position-y: 100px;
   
}
.footer-section{
    
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    /* margin: 2% 15%; */
    margin: auto 30px;
    align-items: center;
    
    
  
    
}

.sections{
    
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    
    
    text-align: center;
    /* flex-wrap:wrap; */
   
    
}
.section{
    
    
    margin: 0 10%;
    text-align: center;
    
}

.section ul li{
    
   padding-bottom: 5px;
    
}
.footer-Link:hover{
    
   color: rgb(220, 178, 40) ;
    
}
.section h4{
    
   
    text-align: center;
    padding-left: 35px;
    
}

.footer-Link{
    text-decoration: none;
    color:currentColor;
    cursor: pointer;
    
}
.sub-section{
    position:flex;
    margin:0 30px;
    text-align: center;
}
.sub-btn{
 background-color: rgb(220, 178, 40) ;
 color: white;
 cursor: pointer;
}
.sub-btn:HOVER{
 background-color:rgb(78, 76, 76) ;
 
}
.footer-company{
    display: flex;
    justify-content: center;
    text-align: center;

}

@media only screen and (max-width:640px){
    
    .footer-section{
     
        display: flex;
        flex-direction: column;
       

    }
    
    .sections ul , .sections h4{
       
        padding-left: 0;
        text-align: center;
        
    }
    
}