footer {
  background-image: url("../../Images/footer.png");
  background-repeat: repeat-x;
  background-size: 90vh;
  background-position-y: 100px;
  width: 100%;
  padding-bottom: 20px;
  background-color: rgb(108, 107, 107);
}
.footer-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  line-height: 2rem;
}

.sections {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30vw;
}

.sections .section ul {
  list-style: none;
  text-align: left;
}

.footer-Link {
  text-decoration: none;
  color: currentColor;
  cursor: pointer;
}
.footer-Link:hover {
  color: rgb(220, 178, 40);
}
.sub-section span {
color :whitesmoke
}
.sub-btn:hover {
  background-color: rgb(78, 76, 76);
}
.footer-company {
  display: flex;
  justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 640px) {
  .footer-section {
    display: flex;
    flex-direction: column;
  }

  .sections ul,
  .sections h4 {
    padding-left: 0;
    text-align: center;
  }
}
