footer {
  background-image: url("../../Images/footer.png");
  background-repeat: repeat-x;
  background-size: 100vh;
  background-position-y: 100px;
  width: 100%;
  padding-bottom: 20px;
  color: white;
  background-color: rgb(108, 107, 107);
}
.footer-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  line-height: 2rem;
}

.sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30vw;
}

.sections .section ul {
  list-style: none;
  text-align: left;
}
.footer-Link {
  text-decoration: none;
  color: currentColor;
  cursor: pointer;
}
.footer-Link:hover {
  color: rgb(220, 178, 40);
}
.sub-section h3 {
  line-height: 1.5rem;
}
.sub-section button {
  background-color: #ef6c00;
  text-transform: capitalize;
}
.sub-section button:hover {
  background-color: #ff6d00;
}
.footer-company {
  display: flex;
  justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .footer-section {
    display: flex;
    flex-direction: column;
  }
  .sections {
    width: 100%;
  }
  .sub-section {
    width: 100%;
    margin-top: 1rem;
  }
}
