* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #8080801a;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dark-mode-footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  .sub-section button {
    background-color: rgb(131, 131, 131);
  }
  .sub-section button:hover {
    background-color: rgb(131, 131, 131, 0.8);
  }
}
.dark-mode-nav {
  /* position: fixed;
  top: 0;
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  z-index: 5; */
  background-color: rgba(0, 0, 0, 0.8);

  & .icon {
    display: none;
  }
  & .navLink {
    color: rgba(255, 255, 255, 0.8);
  }
  .darkIcon {
    color: white;
  }
  & .navLink:hover {
    color: white;
  }
}
.dark-mode {
  background-color: rgba(131, 131, 131,.9);
  color: white;
}
.dark-mode-homePage {
  background-color: lightgrey;
  color: white;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 93vh;
  margin-top: 7vh;
  width: 100%;
}
