body {
  
    background-color: white;
    color: black;
    
      font-family: 'Roboto';
     
      /* font-family: 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
      */
    
  }
  
  .dark-mode {
    background-color:  rgba(33, 25, 12, 0.407);
    color: white;
  }